#logo{
	}

	body{
		background-color: #94d8f7;
		width: 100%;
		margin:auto;
		height:auto;
		display:block;
	
	}


	#total-orders{
		background-color: #4cb4c7;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}


	#wrapper{
		display: block;
		width: 80%;
		margin:auto;
	}

	#main-container{
		padding-left:230px
	}