{%  extends 'accounts/main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
	.btn {
		color: blue;
	}

	.btn2 {
		margin-left: 5px;
	}
</style>

<div class="row">
	<div class="col-xs-30 col-md-20">
		<div class="container fluid-lg-right" style="margin-top: -2rem;width: 4000px; padding-left:-20rem">
			<div class=" alert alert-light " role="alert">
				<h4 class="alert-heading">Customer Order List</h4>

				<hr>

				<p class="mb-0">Review your list of orders</p>
			</div>
		</div>

	</div>
</div>

<div class='row'>
	<div class="col-xs-30 col-md-17">
		<div class="container fluid-lg-right" style="padding:20px; margin-top: -1rem;width: 1105px">
			<div class="alert alert-light shadow-sm">

				{% csrf_token %}
				<form class="form-inline" method="GET">
					<div class="form-group col-md-5 mb-0">
						{{myFilter3.form.q2| as_crispy_field}}
				</form>


			</div>
			<div style="float: right;margin-top: -3rem; padding: 10px 20px ; border-radius: 50px ;">

				<a class="btn btn-primary" href="{% url 'new_order' %}" role="button">NEW</a>
			</div>
		</div>

	</div>

</div>


</div>
</div>



<div class="row">
	<div class="col-xs-30 col-md-17">
		<div class="container float-sm-left" style="padding:20px;margin-top: -3rem;width: 1105px">

			<div class="card card-body">
				<table class="table">
					<tr>

						<th>Product Name</th>
						<th>Customer Name</th>

						<th>Edit Order</th>
						<th>Delete Order</th>

					</tr>


					{% for i in order_list %}

					<tr>
						<td>{{i.product.name}} </td>
						<td>{{i.customer_full_name}}</td>


						<td><a class="btn btn-outline-primary" name="edit_order"
								href="{% url 'edit_order' i.id %}">Edit</a></td>
						<td><a class="btn btn-outline-primary" href="{% url 'delete_order' i.id %}">Delete</a></td>


					</tr>

					{% endfor %}

				</table>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock content %}