{%  extends 'accounts/main.html' %}

{% load crispy_forms_tags %}

{% block content %}


<style>
	.btn {
		color: blue;
	}
</style>


<div class="container float-sm-left" style="margin-top: -1.5rem;margin-right:auto">
	<div class=" alert alert-light " role="alert">
		<h4 class="alert-heading">Customer List</h4>

		<hr>
		<p class="mb-0">Review your list of customers</p>
	</div>

</div>





<div class="container float-sm-left" style="padding-left:5px;">
	<div class="card bg-light mb-3 shadow-sm">
		<form method="GET">
			<div class="row">
				<div class="col-4">
					{% csrf_token %}
					{{myFilter1.form | crispy}}
		</form>

		<a class="btn btn-primary" name='new_customer' href="{% url 'new_customer_profile' %}" role="button">NEW</a>
	</div>


</div>
</div>




<div class="card card-body">
	<table class="table">
		<tr>
			<th>Customer UUID</th>
			<th>Full name</th>
			<th>Email Address</th>
			<th>Last Purchased</th>
			<th>Edit Customer</th>
			<th>Delete Customer</th>
			<th>Billing Address</th>

		</tr>


		{% for d in customer_list %}



		<tr>
			<td>{{d.customer_uuid}} </td>
			<td>{{d.first_name}} {{d.middle_name}} {{d.last_name}}</td>
			<td>{{d.user.email}}</td>
			<td>{{d.latest}}</td>
			<td><a class="btn btn-light" name="edit_customer" href="{% url 'customer_profile' d.user.id %}">Edit</a>
			</td>
			<td><a class="btn btn-light" href="{% url 'delete_profile' d.user.id %}">Delete</a></td>
			<td><a class="btn btn-light" href="{% url 'address_customer' d.user.id %}">Address</a></td>
		</tr>

		{% endfor %}





	</table>
</div>
</div>

</div>

{% endblock content %}