{%  extends 'accounts/main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
	.btn {
		color: blue;
	}
</style>

<br>

<div class="container float-sm-left" style="margin-top: -3rem;margin-right:auto">
	<div class=" alert alert-light " role="alert">
		<h4 class="alert-heading">Customer Order List</h4>

		<hr>
		<p class="mb-0">Review your list of orders</p>
	</div>

</div>


<div class="container float-sm-left" style="padding-left:5px;">
	<div class="card bg-light mb-3 shadow-sm">
		<form method="GET">
			<div class="row">
				<div class="col-4">
					{% csrf_token %}
					{{myFilter3.form | crispy}}
		</form>

		<a class="btn btn-primary" name='new_order' href="{% url 'new_order' %}" role="button">NEW</a>
	</div>


</div>
</div>


<br>

<div class="card card-body">
	<table class="table">
		<tr>

			<th>Product Name</th>
			<th>Customer Name</th>
			<th>Status</th>
			<th>Edit Order</th>
			<th>Delete Order</th>

		</tr>


		{% for i in order_list %}

		<tr>
			<td>{{i.product.name}} </td>
			<td>{{i.customer.first_name}} {{i.customer.middle_name}} {{i.customer.last_name}}</td>
			<td>{{i.status}}</td>

			<td><a class="btn btn-outline-primary" name="edit_order" href="{% url 'edit_order' i.id %}">Edit</a></td>
			<td><a class="btn btn-outline-primary" href="{% url 'delete_order' i.id %}">Delete</a></td>


		</tr>

		{% endfor %}

	</table>
</div>
</div>
</div>
</div>
</div>

{% endblock content %}