{%  extends 'accounts/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    form {
        padding-left: 2rem;
    }
</style>

<br>

<div class="container float-sm-left" style="margin-top:-3rem;margin-right:auto; padding-left: -5rem">
    <div class=" alert alert-light " role="alert">
        <h4 class="alert-heading">Customer Orders</h4>

        <hr>
        <p class="mb-0">Orders Details</p>
    </div>
</div>

<br>

<div class="container float-sm-left">
    <div class="p-3 mb-2 bg-dark text-white">
        <div class="row">
            <div class="col-sm">
                Order Date: {{order_date}}
            </div>

        </div>
    </div>
</div>


<div class="container float-sm-left">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <br>

                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class='container' style="left: auto;">
                        <h2>Product Details</h2>
                    </div>
                    <br>
                    <div class="form-group col-lg-3 mb-0" style="padding-left: 0.5rem;">
                        {{ form.product|as_crispy_field }}
                    </div>




                    <br>
                    <div class='container'>
                        <h2>Customer Details</h2>
                    </div>
                    <br>

                    <div class="form-group col-lg-3 mb-0" style="padding-left: 0.5rem;">
                        {{ form.customer_full_name|as_crispy_field }}
                    </div>


                    <div class="container float-sm-left " style="margin-top: 0.5rem;margin-right:auto">
                        <div class=" alert bg-light float-sm-right shawdow-sm " role="alert">
                            <a class="btn btn-outline-primary btn-lg" href="{% url 'customer_order_list' %}">Cancel</a>
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        </div>
                    </div>

                    {% endblock %}